<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>facebook_appid</name>
	<displayName><![CDATA[Facebook APP ID]]></displayName>
	<version><![CDATA[0.1]]></version>
	<description><![CDATA[A&ntilde;ade el script de Facebook para usar sus Aplicaciones en la tienda.]]></description>
	<author><![CDATA[Inform&aacute;tica Cano http://www.cano.net&quot;]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>